<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://hbec-mpi-eva.github.io/2022-11-21-leipzig-online/#:~:text=Before-,Pre%2Dworkshop%20survey,-09%3A00">Pre-workshop survey</a> </td> <td></td> </tr>
      <tr> <td>Day 1</td>  <td>R for Reproducible Scientific Analysis</td><td><a href="https://github.com/hbec-mpi-eva/2022-11-21-leipzig-online/blob/gh-pages/day1-1.r">Day 1 History</a></td></tr>
      <tr> <td>Day 2</td>  <td>Version Control with Git</td><td><a href="https://github.com/hbec-mpi-eva/2022-11-21-leipzig-online/blob/gh-pages/day2_cardio-project-example.zip">Day 2 Example</a></td></tr>
      <tr> <td>Day 3</td>  <td>Data Manipulation in R and Visualization with `ggplot2`</td><td>Day 3 History</td></tr>
      <tr> <td>Day 4</td>  <td>Managing Databases with R & SQL</td><td><a href="https://github.com/hbec-mpi-eva/2022-11-21-leipzig-online/blob/gh-pages/pointNemoSurvey.zip">Day 4 Example</a></td></tr>
      <tr> <td>Day 5</td>  <td>Advanced Data Manipulation in R</td></tr>
      <tr> <td>After</td>  <td>Post-workshop Survey</td> </tr>
    </table>
  </div>
</div>
